build/
nbbuild/
dist/
nbdist/
.nb-gradle/
debug/
run/
**/*.X/build
**/*.X/nbbuild/
**/*.X/dist
**/*.X/nbdist/
**/*.X/nb-gradle/
**/*.X/debug
**/*.X/run/
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/X2CScope_MCC_lib/X2CScope_MCC_Lib/standalone-setup-*.xml
**/X2CScope_MCC_lib/X2CScope_MCC_Lib/mcc-setup-*.xml
**/X2CScope_MCC_lib/X2CScope_MCC_Lib/core-setup-*.xml
**/X2CScope_MCC_lib/X2CScope_MCC_Lib/library-setup-*.xml
**/X2C_MCC_lib/X2C_MCC_Lib/core-setup-*.xml
**/X2C_MCC_lib/X2C_MCC_Lib/mcc-setup-*.xml
**/X2C_MCC_lib/X2C_MCC_Lib/library-setup-*.xml
**/X2C_MCC_lib/X2C_MCC_Lib/standalone-setup-*.xml
**/X2C/DemoApplication/H3_test.zip
**/X2C/activateScilabX2C.bat
*.bak
*.dat
*.exe
*.bkp
*.7z
*motorbench-log.0.0.txt
*motorbench-log.0.0.txt.lck
*.h_backup
*.c_backup
*.backup
*.c_backup
*.log
*.log
*.o
*.lck
*.elf
*.map
*.d
